/* gallery styles for large screens */
@media screen and (min-width: 1200px) {
  .gallery-list {
      width: 700px;
  }
}
@media screen and (min-height: 1200px) {
  .gallery-list {
      height: 400px;
  }
}



/* Media query for medium screens */
@media screen and (max-width: 1200px) {
  .gallery-list {
      width: 400px;
  }
}
@media screen and (max-height: 1200px) {
  .gallery-list {
      height: 350px;
  }
}


/* Media query for small screens  */
@media screen and (max-width: 600px) {
  .gallery-list {
      max-width: 200px;
  }
}
@media screen and (max-height: 600px) {
  .gallery-list {
      max-height: 300px;
  }
}

/* Media query for very small screens (e.g., phones) */
@media screen and (max-width: 400px) {
  .gallery-list {
      max-width: 100px;
  }
}
@media screen and (max-height: 400px) {
  .gallery-list {
      max-height: 200px;
  }
}


.gallery-list{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
 
}
.inner-icon{
    margin-top: 10%;
    margin-left:10%;
    z-index: inherit;
    height:15%;
    width: 100%;
    
}
.inner-desktop {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .inner-desktop-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    user-select: none;
    width: 90%;
    
  }
  
  .inner-desktop-icon:hover {
    filter: brightness(1.05);
  }
  
  .inner-desktop-icon.selected {
    /* border: 1px dotted #000102; */
    /* border: 2px solid rgba(0, 120, 212, 0.7); */
    background-color: rgba(173, 216, 230, 0.2);
    
  }
  
  .inner-desktop-icon img {
    width: 64px;
    height: 64px;
    margin-top: 8px;
  }