.desktop-icons {
  display: flex;
  flex-direction: column;
  position: absolute;
}

@media screen and (min-width: 1200px) {
  .desktop-icons {
     width:10%;
  }
}
@media screen and (min-height: 1200px) {
  .desktop-icons {
     height:900px;
  }
}


@media screen and (max-width: 1200px) {
  .desktop-icons {
    width:15%;
  }
}
@media screen and (max-height: 1200px) {
  .desktop-icons {
     height:800px;
  }
}



@media screen and (max-width: 800px) {
  .desktop-icons {
    width:30%;
  }
}
@media screen and (max-height: 800px) {
  .desktop-icons {
     height:700px;
  }
}


@media screen and (max-width: 400px) {
  .desktop-icons {
    width:40%;
  }
}
@media screen and (max-height: 400px) {
  .desktop-icons {
    height:490px;
  }
}
